<%- include('inc/header') -%>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Tela Inicial
        </h1>
        <ol class="breadcrumb">
          <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
          <li class="active">Usuários</li>
        </ol>
      </section>

      <%- include("inc/dados") -%>

    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
      <!-- To the right -->
      <div class="pull-right hidden-xs">
        <a target="_blank" href="https://www.hcode.com.br">Hcode</a>
      </div>
      <!-- Default to the left -->
      Projeto desenvolvido no curso online de JavaScript da Hcode Treinamentos.
    </footer>

  </div>

<%- include("inc/footer") -%>